{{recipe.title}}
{{'=' * (recipe.title|length)}}

Ingredients:
------------

{%- for i in recipe.ingredients %}
    * [{{ i.quantity }}] **{{ i.name }}** {{ (' -- ' + i.details) if i.details else '' }}
{%- endfor %}

Steps:
------

{%- for s in recipe.steps %}
    #. {{ '**(' + s.quantities + ')**' if s.quantities else '' }} {{ s.action }} {{ s.details if s.details else '' }}
{%- endfor %}
{#
{%- if recipe.sources %}



Sources:
--------

{%- for s in recipe.sources %}
    #. {{ s }}
{%- endfor %}
{%- endif %}
#}