.. raw:: latex

    \clearpage

.. _{{recipe.id}}:

:index:`{{recipe.title}}`
========={{'=' * (recipe.title|length)}}

{%- if recipe.img %}
.. image:: {{recipe.img}}
   :height: 200px
   :align: center
{%- endif %}

Ingredients:
------------

{%- for i in recipe.ingredients %}
    * [{{ i.quantity }}] **{{ i.name }}** {{ (' -- ' + i.details) if i.details else '' }}
{%- endfor %}

{%- if recipe.steps %}

Steps:
------

{%- for s in recipe.steps %}
    #. {{ '**(' + s.quantities + ')**' if s.quantities else '' }} {{ s.action }} {{ s.details if s.details else '' }}
{%- endfor %}
{%- endif %}

{%- if recipe.companions %}

Companions:
-----------

{%- for s in recipe.companions %}
    #. {{ s }}
{%- endfor %}
{%- endif %}

{%- if recipe.sources %}

Sources:
--------

{%- for s in recipe.sources %}
    #. {{ s }}
{%- endfor %}
{%- endif %}
